.redColor {
    color: red;
}


.div-bg {
    background: linear-gradient(
            125deg,
            #ecfcff 0%,
            #ecfcff 40%,
            #b2fcff calc(40% + 1px),
            #b2fcff 60%,
            #5edfff calc(60% + 1px),
            #5edfff 72%,
            #3e64ff calc(72% + 1px),
            #3e64ff 100%
    );
    max-width: 1000px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.inpBaseFont {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Arial, Verdana, serif;
}


.inpBase {
    display: block;
    /*width: 100%;*/
    flex-basis: 15em;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inpBase:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0 123 255/ 25%);
}

.label {
    composes: inpBaseFont;
    display: block;
    padding: 0.375rem 0.75rem;
    color: #2929bd;
    flex-basis: 200px;
}

.legend {
    composes:inpBaseFont;
    color: #2929bd;
}

.input-primary-container {
    display: flex;
    flex-basis: 450px;
    /*max-width: 500px;*/
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
fieldset {
    display: flex;
    flex-grow: 0;
    /*flex-basis: 400px;*/
    width: 450px;
    margin: 0 auto;
}

.centered-submit-button-container {
    flex-grow: 2;
    flex-basis: 100%;
    margin-top: 1em;
}

.submit-button {
    margin: 0 auto;
}

.fieldset-container {
    flex-basis: 100%;
}


@media print {

    .div-bg {
        width: 100%;
        /*border: 2px dashed blue;*/
    }
    .input-primary-container {
        flex-basis: 98mm;
        /*border: 1px solid green;*/
        align-items: center;
    }

    .inpBaseFont {
        font-size: 12pt;
        font-weight: 400;
        line-height: 1.1;
        font-family: Arial, Verdana, serif;
        align-items: center;
    }


    .label {
        padding: 0 ;
        flex-basis: 200px;
        height: auto;
    }


    .inpBase {
        display: block;
        flex-basis: 15em;
        height: auto;
        padding: 0;
        /*border: 1px solid black;*/
        border: none;
    }

    fieldset {
        width: calc(100% - 30mm);
        flex-wrap: nowrap;
        display: block;
        margin-top: 10pt;
    }
    fieldset .label {
        /*border: 1px solid red;*/
        display: inline-block;
    }
    fieldset .inpBase {
        /*border: 1px solid green;*/
        /*max-width: 10mm;*/
        display: inline-block;
    }
    fieldset > .label:before {
        content: "";
        padding-right: 30px;
    }



}
