.svg-doc-container {
    display: flex;
    flex-wrap: wrap;
    gap:2rem ;
    width: 100%;
}

.top-form-floating-container {
    flex-basis: 100%;
}

.top-form-floating {
    margin: 0 auto;
}

:global(.svg-component) {
    margin: 0 auto;
}


@media print {
    .svg-doc-container {
        width: calc(210mm - 10mm);
        border: 1px solid red;
    }
}