.redColor {
    color: red;
}


.DivBG {
    background: linear-gradient(
            125deg,
            #ecfcff 0%,
            #ecfcff 40%,
            #b2fcff calc(40% + 1px),
            #b2fcff 60%,
            #5edfff calc(60% + 1px),
            #5edfff 72%,
            #3e64ff calc(72% + 1px),
            #3e64ff 100%
    );
    max-width: 800px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.inpBaseFont {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Arial, Verdana, serif;
}


.inpBase {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inpBase:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0 123 255/ 25%);
}

.Label {
    composes: inpBaseFont;
    display: block;
    padding: 0.375rem 0.75rem;
    color: #2929bd;
}

.Legend {
    composes:inpBaseFont;
    color: #2929bd;
}
